.services {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.services > h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #1a1a1a;
  text-align: left;
  margin-left: 4rem;
}

.services__contact {
  background: linear-gradient(180deg, #a54de4 0%, #594edc 100%);
  padding: 4rem;
  display: flex;
  align-items: center;
  /* gap: 8rem; */
}

.services__contact__info {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.services__contact__info > h2 {
  font-size: 3rem;
  font-weight: 700;
  color: white;
}

.services__contact__info > span {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  width: fit-content;
  border-bottom: 0.15rem solid #fff;
}

.services__contact__info > span > p {
  color: #fff;
  font-size: 1.6rem;
}

.services__contact__info > span > img {
  height: 1.2rem;
}

.services__contact__image {
  flex: 0.4;
}

.services__contact__image > img {
  /* width: 10rem; */
  height: 30rem;
}

.services__service {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.services__service__card {
  background: #fff;
  box-shadow: 0px 7px 29px 0px rgba(108, 78, 222, 0.28);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25rem;
  height: 30rem;
}

.services__service__card > img {
  width: 4rem;
  height: 4rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.services__service__card > h4 {
  color: #1a1a1a;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.services__service__card > p {
  text-align: center;
  color: #1a1a1a;
  line-height: 1.8rem;
  font-size: 1.4rem;
}

.services__info {
  background-image: url('../../assets/backgroundImage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem 4rem;
  display: flex;
  gap: 8rem;
  /* height: 100vh; */
}

.services__info > p {
  color: #fff;
  font-size: 1.8rem;
  margin-top: 8rem;
  font-weight: 600;
}

.services__info__numbers {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-top: 50vh;
  margin-left: 25vw;
}

.services__info__numbers > span {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.services__info__numbers > span > h2 {
  color: #fff;
  font-weight: 800;
  font-size: 8rem;
}

.services__info__numbers > span > p {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
}

@media screen and (max-width: 640px) {
  .services > h1 {
    margin-left: 2rem;
    font-size: 2.2rem;
  }

  .services__contact {
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
  }

  .services__contact__info {
    order: 2;
    align-items: center;
  }

  .services__contact__info > h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
  }

  .services__contact__info > span > p {
    font-size: 1.4rem;
  }

  .services__contact__info > span > img {
    font-size: 1rem;
  }

  .services__contact__image {
    order: 1;
  }

  .services__contact__image > img {
    height: 10rem;
  }

  .services__service {
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 2rem;
  }

  .services__service__card {
    width: 22rem;
  }

  .services__service__card > img {
    width: 3rem;
    height: 3rem;
  }

  .services__info {
    flex-direction: column;
    padding: 4rem;
    background-size: cover;
    height: 100vh;
  }

  .services__info > p {
    margin-top: 1rem;
    text-align: center;
  }

  .services__info__numbers {
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 3rem;
    gap: 4rem;
  }

  .services__info__numbers > span > h2 {
    font-size: 5rem;
  }

  .services__info__numbers > span > p {
    font-size: 1.6rem;
  }
}
